{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/about-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">This is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Don't you want to keep yourself updated with the ever changing technology ?</p>
        <p>There's so much going around that one needs to be updated to be ahead in the race . Here come The Tech-Know Point to your rescue !! With the latest discussions and information to fill this must-filled gap.</p>
        <p> The posts that appear are high in quality with  much researched content . We make sure to deliver the best in industry that keeps the pool of followers stand out with the understanding they gain from our blogs. Thanks ! Happy Reading ! </p>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}