{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{para['blog_name']}}</h1>
            <span class="subheading">{{para['blog_tag_line']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- To do : Fetch it using For loop from database -->
      {% for blog_post in blog_posts %}
        <div class="post-preview">
          <a href="/post/{{blog_post.slug}}">
            <h2 class="post-title">
              {{blog_post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{blog_post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            on {{blog_post.date}}</p>
        </div>
        {{blog_post.content[0:53]}}...
        <hr>

      {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
